@model IEnumerable<AgileTeamFour.UI.ViewModels.FriendVM>

@{
    ViewData["Title"] = "MyIndex";
}

<h1>Blocked</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th> UserName</th>

            <th> Status</th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

                <td>
                    @foreach (var friend in item.MyFriends)
                    {
                        <span>@friend.UserName</span>

                        <br />
                    }
                </td>
             <td>
                @Html.DisplayFor(modelItem => item.Friend.Status)
            </td> 
            
            
        </tr>
}
    </tbody>
</table>
