@model IEnumerable<AgileTeamFour.UI.ViewModels.FriendVM>

@{
    ViewData["Title"] = "MyIndex";
}

<h1>Blocked</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th> UserName</th>

            <th> Status</th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

                
                    @foreach (var friend in item.MyFriends)
                    {
                    <td>
                        <img class="profile-photo" src="~/images/@(friend.IconPic)"
                             id="programimage"
                             alt="@friend.IconPic"
                             onclick="on('/images/@(friend.IconPic)')"
                             class="imagepropsmall" />
                    </td>
                    <td>
                        <span>@friend.UserName</span>

                        <br />
                    </td>
                    }
                
             <td>
                @Html.DisplayFor(modelItem => item.Friend.Status)
            </td> 
            
            
        </tr>
}
    </tbody>
</table>
