@model AgileTeamFour.UI.ViewModels.UserVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.UserID" class="control-label" style="display:none;"></label>
                <input asp-for="User.UserID" type="hidden" class="form-control" />
                <span asp-validation-for="User.UserID" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label" style="display:none;"></label>
                <input asp-for="User.Password" type="hidden" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DateOfBirth" class="control-label"></label>
                <input asp-for="User.DateOfBirth" class="form-control" />
                <span asp-validation-for="User.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.IconPic" class="control-label"></label><br />
                <img class="imagepropmedium m-2"
                     alt="@Model.User.IconPic"
                     id="programimage"
                     onclick="on('/images/@Model.User.IconPic')"
                     src="~/images/@Model.User.IconPic" />
                <input asp-for="User.IconPic" class="form-control" />
                <input type="file" name="File" id="File" accept="image/" onchange="loadFile(event)" />
                <span asp-validation-for="User.IconPic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Bio" class="control-label"></label>
                <input asp-for="User.Bio" class="form-control" />
                <span asp-validation-for="User.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
           <div class="form-group"> <a asp-action="EditPassword" asp-route-id="@Model.User.UserID" class="btn btn-secondary">Edit Password</a> </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@* RGO funtion to load file picture *@
<script>
    var loadFile = function (event) {
        var output = document.getElementById('programimage');
        var fileInput = document.getElementById('File');

        // Display the image
        output.src = URL.createObjectURL(event.target.files[0]);

        // Set the User.IconPic with file's name
        var iconPicField = document.querySelector('input[name="User.IconPic"]');
        iconPicField.value = fileInput.files[0].name;  // Save the file name to User.IconPic
    };
</script>