@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid p-0 py-4">
    <img src="~/images/PHBanner.png" alt="Banner" class="img-fluid w-75 mb-2 d-block mx-auto">
</div>
<hr />
<div class="container text-center m-2">
    <div class="row">
        <div class=" col-md-8 offset-md-2">
    
            <h3 class="mb-3 mt-3">Need a group? Find a group.</h3>

            <p class="lead">PlayerWell is an online platform designed to help you connect with others who share your love for gaming. Whether you're looking for teammates or just want to find people to play with, PlayerWell makes it easy. To get started, simply sign up for an account, which only takes a few moments. Once registered, you can browse through a list of popular games. By clicking on your favorite game, you'll be able to see what other players are up to, explore ongoing activities, and seamlessly join in on the fun. It's the perfect way to meet fellow gamers and dive into exciting gameplay.</p>

        </div>
    </div>
</div>

<div class="container text-center my-5">
    <button type="button" class="btn btn-primary btn-lg w-50">Start Here</button>
</div>



