html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    min-height: 80vh;
}

.navbar{
   /* max-height:300px;*/
   height:auto;
}

.navbar-nav {
    background-color: #00265aff;
    padding-left: 50px;
}

.lead{
    color:black;
}

.imagesmall{
    width:50%;
    height:auto;
}
.imagemedium{
    width:200px;
    height:150px;
}

.imagelarge{
    width:75%;
    height:auto;
}

.btn-playerwell {
    color: #fff;
    background-color: #355baa;
    border-color: #0d6efd;
}

.nav-item .nav-link:hover {
    font-size: 130%;
    transition: font-size 0.3s ease; 
}


.gamename {
    width: 200px;
}

.tab-pane {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

    /* Show the active tab with full opacity */
    .tab-pane.active {
        opacity: 1;
        transform: translateY(0);
    }

.cinzel-header {
    font-family: "Cinzel", serif;
    font-weight: bold;
    text-decoration: underline;
    transition: font-size 0.3s ease;
}

    .cinzel-header:hover {
        font-size: 400%;
        
    }

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

    .banner h1 {
        font-size: 2.5rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        background: rgba(0,0,0,0.4)
    }
/* RGO  style for reviews */
.review-list {
    margin-top: 20px;
}

.review-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.review-stars .fa {
    font-size: 1.2em;
    color: #ddd; /* Default color for empty stars */
}

    .review-stars .fa.checked {
        color: #ffd700; /* Gold color for full stars */
    }

.review-body {
    font-size: 1em;
    margin-bottom: 10px;
}

.review-footer {
    font-size: 0.9em;
    color: #888;
}

.review-actions {
    margin-top: 10px;
    font-size: 0.9em;
}


/*RGO chat style*/
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full-height container */
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 15px;
}

.chat-messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

    .chat-message.sent {
        justify-content: flex-end;
    }

    .chat-message.received {
        justify-content: flex-start;
    }

.message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.message-author {
    font-weight: bold;
}

.sent .message-content {
    background-color: #d1e7dd; /* A light green for sent messages */
}

.received .message-content {
    background-color: #f8d7da; /* A light red for received messages */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f8f9fa;
}

    .chat-input textarea {
        flex: 1;
        resize: none;
        border-radius: 20px;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ced4da;
    }

    .chat-input button {
        background-color: #0d6efd;
        border: none;
        padding: 10px 15px;
        border-radius: 20px;
        color: white;
    }


    /*RGO Post */
.activity-feed {
    margin-top: 20px;
}

.post-card {
    background-color: #355baa; /* #2b2b2b;*/
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 22px;
    color:white;
    font-weight: bold;
}

.post-content {
    font-size: 22px;
    color:white;
    margin: 10px 0;
}

.rank-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
}

/*
.post-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}*/

.activity-feed {
    width: 60%;
    margin: auto;
}

.post-content {
    margin-top: 10px;
    font-size: 1.2em;
}

.post-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.summary {
    font-size: 20px;
    color: yellow;
    /*font-weight: bold;*/
}

.review-stars{
font-size:14px;
color:white;
}
.review-summary {
    font-size: 14px;
    color: white;
}

.like-button, .comment-button, .respond-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-section {
    margin-top: 10px;
}

.comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comments-list {
    margin-top: 10px;
}

.comment-item {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.comment-author {
    font-weight: bold;
}


/*RGO new post trasparence */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}


.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 50%; 
    max-width: 600px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #333;
}

.create-post-link {
    font-size: 1.5em; 
    font-weight: bold;
    color: #007bff; 
    text-decoration: none; 
}

.create-post-link:hover {
    text-decoration: underline; 
}
/*Glen Table Styling*/
table{
    overflow-x: auto;
    overflow-y: auto;
    border-spacing: 3px;
    border-style: solid;
}
thead {
    background-color: seagreen;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: white;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
    color: black;
}
tbody tr:hover {
    background-color: slategray;
    color: white;   
}
tbody tr:hover a{
    color: white;
}
/*Event Index Table Page, Game Index Page*/
.btn-touching 
{
   padding: 5px;
   margin: 5px;
}






/*=================================================================
  User Profile Customization
==================================================================*/

.profile-section {
    padding: 20px;
    max-width: 650px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo {
    border-radius: 50%; /* Circular profile photo */
    width: 150px;
    height:150px;
    margin-right: 20px; /* Spacing between the photo and text */
}

.profile-info {
    flex: 1; /* Occupy remaining space */
}

.username {
    font-size: 24px;
    font-weight: bold;
}

.bio {
    font-size: 16px;
    color: #555;
}

.user-reviews {
    max-height: 500px; 
    overflow-y: auto; 
    padding-right: 15px;
}

.review-container {
    border: 1px solid #ddd;
    max-width: 650px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    align-items: center;
}

.username-link {
    font-weight: bold;
    text-decoration: none;
}

.review-content {
    margin-top: 10px;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.review-stats {
    font-size: 14px;
}

.review-actions {
    font-size: 14px;
}

.bubble {
    display: none;
    position: absolute;
    width: 150px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 1000;
}

.question-mark {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
/*like button and comments on post view RGO*/
.posts {
    margin: 20px;
}

.post {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.comment {
    margin-left: 20px;
    padding: 10px;
    border-left: 2px solid #ddd;
    color: whitesmoke;
}

.replies {
    margin-left: 20px;
}

textarea {
    width: 100%;
    margin-top: 10px;
}


.modal-content {
    font-size: 22px;
    color: royalblue;
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.liked {
    background-color: yellow; 
    color: black;
    font-weight: bold;
    border: 2px solid #ccc;
}