html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    min-height: 80vh; 
}

.navbar{
    max-height:300px;
}

.lead{
    color:black;
}

.imagesmall{
    max-width: 500px;
    height:auto;
}
.imagemedium{
    width:200px;
    height:150px;
}

.btn-playerwell {
    color: #fff;
    background-color: #355baa;
    border-color: #0d6efd;
}

.nav-item .nav-link:hover {
    font-size: 130%;
    transition: font-size 0.3s ease; 
}

.gamename{
    width:200px;

}
/* RGO  style for reviews */
.review-list {
    margin-top: 20px;
}

.review-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.review-stars .fa {
    font-size: 1.2em;
    color: #ddd; /* Default color for empty stars */
}

    .review-stars .fa.checked {
        color: #ffd700; /* Gold color for full stars */
    }

.review-body {
    font-size: 1em;
    margin-bottom: 10px;
}

.review-footer {
    font-size: 0.9em;
    color: #888;
}

.review-actions {
    margin-top: 10px;
    font-size: 0.9em;
}