@model AgileTeamFour.BL.Models.Review

@{
    ViewData["Title"] = "Edit Review";
}

<h1>Edit Review</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReviewID" class="control-label" style="display:none;"></label>
                <input asp-for="ReviewID" type="hidden" class="form-control" />
                <span asp-validation-for="ReviewID" class="text-danger" style="display:none;"></span>
            </div>

            <div class="form-group">
                <label asp-for="StarsOutOf5" class="control-label"></label>
                <input asp-for="StarsOutOf5" class="form-control" />
                <span asp-validation-for="StarsOutOf5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <input asp-for="ReviewText" class="form-control" />
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <input asp-for="AuthorID" type="hidden" class="form-control" />
                <span asp-validation-for="AuthorID" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientID" class="control-label"></label>
                <input asp-for="RecipientID" type="hidden" class="form-control" />
                <span asp-validation-for="RecipientID" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" type="hidden" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@* RGO funtion to load file picture *@
<script>
    var loadFile = function (event) {
        var output = document.getElementById('programimage');
        var fileInput = document.getElementById('File');

        // Display the image
        output.src = URL.createObjectURL(event.target.files[0]);

        // Set the Review.IconPic with file's name
        var iconPicField = document.querySelector('input[name="Review.IconPic"]');
        iconPicField.value = fileInput.files[0].name;  // Save the file name to Review.IconPic
    };
</script>