@model IEnumerable<AgileTeamFour.BL.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Games</h1>

<p class="text-center">
    <a class="btn btn-primary btn-lg ml-3" asp-action="Create">Create New</a>
</p>
<p>
    <a class="btn btn-secondary" class="nav-link" asp-area="" asp-controller="Game" asp-action="Index">View Table</a>
</p>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4" style="width: 100%;">
                <img src="~/images/Games/@item.Picture" class="card-img-top" alt="@item.Description">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.GameName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a class="btn btn-primary btn-lg ml-3" asp-area="" asp-controller="Event" asp-action="EventsForGame" asp-route-gameID="@item.GameID">View Events</a>
                </div>
            </div>
        </div>
    }
</div>